__pycache__/word_search_app.cpython-36.pyc
__pycache__/word_search.cpython-36.pyc
__pycache__/word_list.cpython-36.pyc
.idea/workspace.xml
.idea/word_search.iml
.idea/modules.xml
.idea/misc.xml
